.header-component {
  position: sticky;
  top: 0;
  width: 100%;
}

.header-top {
  width: 100%;
  color: white;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  padding: 8px 50px;
  background-color: rgba(25, 16, 19);
  box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.3);
}

.header-top h1 {
  line-height: 100%;
}

.user-perfil {
  display: flex;
  align-items: center;
  line-height: 50%;
  font-size: 1.1rem;
  background: rgb(55, 64, 83);
  border-radius: 20px;
  padding: 2px;
}

.header-user-name {
  margin: 0 5px;
}

.default-user-image {
  background: rgba(255, 255, 255, 0.8);
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  line-height: 110%;
  padding: 4px;
  margin-left: 18px;
  border-radius: 50%;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.9);
}

.nav-bar {
  text-align: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.nav-bar > a {
  color: black;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 0.8rem;
  width: calc(100% / 3);
  padding: 5px;
}

.nav-bar > a:hover {
  transition: 0.2s;
  background-color: rgba(255, 255, 255, 0.5);
}