.header-component {
  position: sticky;
  z-index: 1;
  top: 0;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

.header-top {
  width: 100%;
  color: white;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  padding: 8px 50px;
  background-color: rgba(25, 16, 19);
  box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.3);
}

.header-top h1 {
  line-height: 100%;
}

.user-perfil {
  display: flex;
  align-items: center;
  line-height: 50%;
  font-size: 0.9rem;
  background: rgba(207, 207, 207, 0.6);
  color: black;
  font-weight: 500;
  border-radius: 20px;
  padding: 1px;
}

.header-user-name {
  margin: 0 12px;
}

.default-user-image {
  background: #5b88a5;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  line-height: 1.2rem;
  padding: 4px;
  margin-left: 18px;
  border-radius: 50%;
  font-weight: 500;
  color: white;
}

.profile-image {
  padding: 0;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.nav-bar {
  text-align: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.nav-bar > a {
  color: black;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 15px;
  width: calc(100% / 3);
  padding: 5px;
}

.nav-bar > a:hover {
  transition: 0.2s;
  background-color: rgba(255, 255, 255, 0.7);
}

/* 
.color1 { #d4cdc5 };
.color2 { #5b88a5 };
.color3 { #f4f4f2 };
.color4 { #191013 };
.color5 { #243a69 };*/